.hero {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.buttons button {
    border: none;
    cursor: pointer;
    margin: 0.75rem;
    padding: 1rem 2rem;
}

.getStarted {
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: #323131;
    }
}

.learnMore {
    background-color: #fff;
    color: #000;
    &:hover {
        background-color: #f3f1f1;
    }
}
